.btn {
  display: inline-block;
  padding: 0.4rem 1.2rem;
  border-radius: 5px;
  border: 0.2rem solid;
  border-color: transparent;
  box-sizing: border-box;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.btn-primary {
  background-color: black;
}

.btn-primary:hover {
  background-color: var(--cl-btn-secondary);
  border: 0.2rem solid;
}

.w-100 {
  width: 100%;
}
