.form-container {
  width: min(95%, 760px);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 5px;
  box-shadow: rgba(233, 231, 231, 0.4) 0px 2px 4px,
    rgba(166, 165, 165, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.form-content {
  padding: 4rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.input-field label {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.input-field input {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 0;
}

.form-fields .btn {
  margin-top: 1rem;
}

.error {
  color: red;
  padding: 0.5rem 1rem;
}
