.modal-background {
  position: fixed;
  inset: 0;
  background-color: rgba(13, 13, 13, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.modal-content {
  border-radius: 5px;

  width: min(95%, 760px);
  height: 70%;
  background-color: rgb(5, 37, 96);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(233, 231, 231, 0.4) 0px 2px 4px,
    rgba(166, 165, 165, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.modal-icon {
  font-size: 2rem;
  cursor: pointer;
}
